@use '@/sass/common/mixins/text.scss' as *;
@use '@/sass/common/mixins/mediaquery.scss' as *;
@use '@/sass/variables.scss' as *;

.v-btn {
  border-radius: 0.5rem !important;
  &.bg_gradient {
    background: $gradients;
  }
  &.bg_gradient_V {
    background: $gradients_v;
  }
}
