@use '@/sass/common/mixins/text.scss' as *;
@use '@/sass/common/mixins/mediaquery.scss' as *;
@use '@/sass/variables.scss' as *;
.cardGrp {
  display: flex;
  flex-wrap: wrap;

  container-type: inline-size;
  @container (max-width: 1200px) {
    .card {
      width: calc(33.3% - 1rem);
    }
  }
  @container (max-width: 991px) {
    .card {
      width: calc(50% - 1rem);
    }
  }
  @container (max-width: 575px) {
    .card {
      width: calc(100% - 1rem);
    }
  }
}
.card {
  position: relative;
  margin: 0.75rem 0.5rem;
  width: calc(25% - 1rem);
  // max-width: rem(330);
  display: flex !important;
  flex-direction: column;
  .cardTitle {
    font-size: rem(18);
    @include textOverflow;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 0.75rem;
  }
  .v-card-item {
    flex-grow: 1;
    display: block;
  }
  .v-btn__content {
    font-size: 1rem;
    font-weight: 700;
  }

  .v-card-actions {
    padding: 0.625rem 1rem;
    .tag {
      padding: 0 0.5rem;
      color: $success50;
      line-height: rem(26);
      border: $success50 1px solid;
      border-radius: 0.25rem;
      background: $success50_opacity_10;
      &.dangerTag {
        color: $danger50;
        border: $danger50 1px solid;
        background: $danger50_opacity_10;
      }
    }
    .btnGrp {
      margin-left: auto;
      .v-btn {
        margin-right: 0.2rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &::after {
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 4px;
    background-color: $primary50;
  }
  &::before {
    position: absolute;
    content: '';
    top: 0;
    width: 25%;
    height: 4px;
    z-index: 1;
    background-color: $primary30;
  }
}
.expandCard {
  &.v-card {
    .v-form {
      display: contents;
    }

    position: fixed;
    z-index: 2001 !important;
    top: 0;
    height: 100vh;
    width: 50vw;
    max-width: rem(600);
    background: #fff;
    right: 0;
    display: flex;
    flex-direction: column;
    .v-card-title {
      .titleContent {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        + .btnGrp {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .text {
            margin-right: rem(8);
          }
          .v-btn {
            margin: 0 0.25rem;
            &:last-child {
              margin-right: 0;
            }
          }
          + .v-tabs {
            margin-top: 1rem;
            .v-btn__content {
              font-size: 1rem;
            }
          }
        }
      }
      .btn_icon {
        max-width: rem(40);
        min-width: unset;
      }
    }
    .v-card-text {
      flex-grow: 1;
      overflow-y: scroll;

      .v-btn {
        &.refresh {
          display: flex;
          margin-left: auto;
          margin-right: 0;
        }
      }
      .formContent {
        padding: 1rem 0.5rem;
        label {
          display: flex;
          align-items: center;
          font-size: 1rem;
          .icon {
            margin-left: 0.25rem;
            color: $primary30;
          }
        }
        .formGrp {
          .v-input__control {
            .v-selection-control {
              .v-label {
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    .tabContent {
      .tagInfo {
        margin-bottom: 1rem;
        .link {
          display: flex;
          align-items: center;
          color: $primary30;
          font-size: 1rem;
        }
        .icon {
          color: $neutral20;
          + span {
            text-decoration: underline;
            font-weight: 700;
          }
        }
        .tag {
          background-color: $neutral60;
          display: inline-block;
          border-radius: 0.25rem;
          padding: 0.5rem 1rem;
          margin-bottom: 0.5rem;
          font-size: 1rem;
        }
      }
    }
    .v-card-actions {
      display: flex;
      flex-wrap: wrap;

      .v-btn {
        height: rem(45);
        font-weight: 700;
      }
    }
  }
}
.content {
  &.v-container {
    padding: 1rem 0.2rem;
    padding-top: 0;
  }
}
.cardGrp {
  &.result {
    .item {
      width: 100%;
      display: flex;
      align-items: flex-start;
      .v-checkbox {
        margin-right: 1rem;
        .v-selection-control {
          min-height: unset;
        }
      }

      .resultCard,
      .answerPanelCard {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 0.5rem;
      }
    }
  }
}
.containerCard {
  background: #fff;
  border-radius: 0.5rem;
  padding: rem(28);
  container-type: inline-size;
  .cardTitle {
    display: flex;
    margin-bottom: 2rem;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      bottom: -1rem;
      width: 100%;
      height: 1px;
      background: $neutral60;
    }
    > div {
      display: flex;
      align-items: center;
      .v-input {
        min-width: rem(214);
        margin-left: rem(12);
      }
      .v-btn {
        margin-left: rem(12);
        font-weight: 700;
      }
      &:last-child {
        margin-left: auto;
        .v-btn {
          margin-left: rem(6);
        }
      }
    }
  }
  @container (max-width: 767px) {
    .cardTitle {
      flex-wrap: wrap;
      margin-bottom: 1rem;
      &::after {
        bottom: -0.25rem;
      }
      > div {
        width: 100%;
        margin: 0.1rem 0;
        &:last-child {
          display: block;
          width: auto;
          overflow-x: scroll;
          white-space: nowrap;
          text-align: left;
          padding-inline: 2px;
          &::-webkit-scrollbar-track {
            background-color: #f5f5f500;
          }
          &::-webkit-scrollbar:horizontal {
            height: 4px;
          }
          &::-webkit-scrollbar {
            width: 2px;
            background-color: #f5f5f500;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 12px;
            height: 3px;
            background-color: $neutral60;
          }
        }
      }
      .tableFillerBtnGrp {
        margin-top: 0.25rem;
      }
    }
  }
}
.editorCard {
  margin-bottom: 1rem;
  .ql-toolbar.ql-snow {
    border-radius: 0.5rem 0.5rem 0 0 !important;
    border-bottom: none;
  }
  .ql-container.ql-snow {
    border-radius: 0 0 0.5rem 0.5rem !important;
    min-height: 6rem;
  }
  .ql-blank {
    min-height: 6rem;
  }
}
.infoCard {
  &.v-card {
    padding: 1rem;
    background: $neutral80;
    border-radius: 0.5rem;
    p {
      margin-bottom: 1.5rem;
      font-size: 1rem;
      span {
        display: block;
      }
    }
    ul {
      + p {
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
    li {
      line-height: rem(28);
      font-size: 1rem;
    }
  }
}
.v-picker {
  &.v-sheet {
    box-shadow: none !important;
  }
}

.panelCard,
.answerPanelCard,
.resultPanelCard {
  margin-bottom: 1rem;
  .v-expansion-panel__shadow {
    display: none;
  }
  .v-expansion-panel {
    border-radius: 0.5rem;
    border: 1px solid $neutral60;
  }
  .v-expansion-panel-title {
    padding: 1rem;

    min-height: auto;
    .v-expansion-panel-title__overlay {
      display: none;
      + div {
        width: 100%;
        height: 100%;
      }
    }
    &:hover {
      background: unset;
    }
    .title {
      margin: 0;
      display: flex;
      width: 100%;
      height: rem(32);
      justify-content: space-between;
      align-items: center;
      // padding-bottom: 1rem;
      .icon {
        margin-right: 1rem;

        &.hide {
          display: none;
        }
      }
      > div {
        display: flex;
        align-items: center;
        .icon {
          color: $primary30;
          margin-right: 0.5rem;
        }
        &:last-child {
          .icon {
            color: $neutral10 !important;
            width: rem(40) !important;
            min-width: auto;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    .subtitle {
      @include textOverflow;
      width: 100%;
      padding-top: 0.5rem;
      font-size: 1rem;
    }
  }
  .v-expansion-panel-text {
    p {
      font-size: 1rem;
      &.hide {
        display: none;
      }
    }
    .v-expansion-panel-text__wrapper {
      padding-top: 0;
    }
    .textArea {
      display: none;
      margin-top: 0;
      &.show {
        display: block;
      }
      .v-textarea {
        margin: 0 0 1rem 0;
      }
      .btnGrp {
        display: flex;
        justify-content: end;
        .v-btn {
          margin-right: 0.5rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
.resultPanelCard {
  .v-expansion-panel-title {
    .title {
      font-weight: 700;
      color: $neutral10;
      line-height: 1.25rem;
      height: unset;
    }
    .titleInput {
      margin: 0 0.5rem;
      .v-input__control {
        width: 100%;
      }
    }
  }
  .v-expansion-panel-text {
    .formGrp {
      align-items: center;
      margin-top: 0.25rem;
      label {
        padding-top: 0;
        text-align: center;
        display: block;
      }
    }
    ul {
      margin-top: 0.5rem;
      li {
        color: $neutral30;
        line-height: 1.5rem;
        font-size: 1rem;
      }
    }
  }
}
.answerPanelCard {
  .title {
    font-weight: 700;
    color: $neutral10;
    line-height: 1.25rem;
  }
  .v-expansion-panel-title {
    .title {
      height: unset;
    }
  }
  .cardItem {
    padding: 1rem;
    border: 1px solid $neutral60;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;

    .title {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      color: $neutral10;
      line-height: 1.25rem;
      min-height: 2rem;
      margin-top: 0;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      font-size: 1rem;
      .icon {
        margin-right: 0.5rem;
        &.v-btn {
          min-height: unset !important;
          padding: 0;
          min-width: rem(40);
          span {
            color: $neutral10;
          }
        }
        &.hide {
          display: none;
        }
      }
    }
    .content {
      margin-left: 0.5rem;
      font-size: 1rem;
      p {
        margin-bottom: 1rem;
      }
    }
    .info {
      a {
        color: $primary30;
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}
.addPanelCard {
  width: 80%;
  max-width: rem(960);
  .v-expansion-panel-title {
    padding: 16px 24px;
    .title {
      font-size: 1rem;
    }
  }
  .v-expansion-panel-text {
    .itemTitle {
      margin-bottom: 0.5rem;
    }
    .textArea {
      display: block;
      > div {
        margin-bottom: 0.5rem;
      }
    }
  }
}
.findPanelCard {
  width: 80%;
  max-width: rem(960);

  .v-expansion-panel-title {
    padding: 16px 24px;
    .title {
      font-size: 1rem;
    }
  }

  .v-expansion-panel-text {
    .itemTitle {
      margin-bottom: 0.75rem;
    }
    .findCard {
      background: $neutral60;
      border-radius: 0.5rem;
      padding: 0.75rem;
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
      > div {
        flex-grow: 1;
        position: relative;
        margin-right: 0.5rem;
        width: calc(100% - 48px);
      }
      .titleText {
        margin-bottom: 0.25rem;
        @include textOverflow;
      }

      .url {
        font-weight: 700;
        text-decoration: underline;
        @include textOverflow;
      }
      .v-btn {
        padding: 0;
        min-width: rem(40);
        .v-btn__content {
          color: $neutral10;
        }
      }
    }
  }
}
.emptyCard {
  border-radius: 1rem;
  margin: 2rem 0.5rem 1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 300px);
  min-height: 500px;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      max-width: rem(320);
      + div {
        text-align: center;
        .v-btn {
          margin-top: 1.25rem;
          border-radius: 0.5rem;
          font-weight: 700;
          min-height: rem(46);
          font-size: rem(18);
        }
      }
    }
    p {
      line-height: rem(28);
    }
  }
}
.dialogCard {
  max-width: rem(500);
  .searchGrp {
    .v-text-field {
      .v-field {
        border-radius: 0.5rem;
      }
    }
    .v-btn {
      height: rem(40);
    }
  }
  &.largeWidth {
    width: 80%;
    max-width: rem(960);

    .v-card {
      min-height: 50vh;
    }
  }
  &.largeHeight {
    max-height: 70vh;
  }

  .v-card {
    border-radius: 1rem !important;
  }
  .v-card-title {
    padding: 1rem 1.5rem 0.5rem 1.5rem;
  }
  .title {
    display: flex;
    justify-content: space-between;
    color: $neutral10;
    font-weight: 700;
    font-size: rem(26);
    .btn_icon {
      min-width: rem(40);
      color: $neutral10 !important;
      padding: 0;
    }
  }
  .v-card-text {
    padding-top: 0 !important;
    p {
      margin-bottom: 1rem;
    }
    ul {
      li {
        min-height: 1.75rem;
      }
    }
    .inputGrp {
      label {
        font-size: rem(16);
        margin-bottom: 0.5rem;
      }
      .v-input {
        border: $neutral60;
        &.v-input--density-compact {
          --v-input-control-height: 56px;
        }
        .v-field__outline {
          --v-field-border-color: #42a5f5;
          --v-field-border-opacity: 0.15;
          --v-field-border-width: 2px;
          border-radius: 0.5rem;
        }
      }
    }
  }
  .v-card-actions {
    padding: 1rem rem(24);
    .v-btn {
      border-radius: 0.5rem;
      min-width: rem(117);
      height: rem(48);
      font-size: rem(18);
    }
  }
  .fileCardGrp {
    .fileCard {
      border: 1px solid $neutral40;
      margin-bottom: 1rem;
      justify-content: left;
      padding: 1rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      cursor: pointer;
      // &:hover {
      //   background: $primary50;
      // }
      &.active {
        border: $primary30 2px solid;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .icon {
        width: rem(32);
        height: rem(32);
        border-radius: 50%;
        color: $primary30;
        background: $primary50;
        margin-right: 0.5rem;
        span {
          line-height: 32px;
          display: block;
          width: rem(32);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .text {
        width: calc(100% - 38px);
        .titleContent {
          font-size: 1rem;
          color: $primary30;
          margin-bottom: 0.5rem;
          font-weight: 400;
          @include textOverflow;
          + div {
            color: $neutral30;
            > span {
              display: inline-block;
              margin-right: 1.5rem;
              .error {
                color: $danger50;
              }
            }
          }
        }
      }

      &.v-btn--active:not(.v-btn--disabled) {
        border: $primary30 2px solid;
        > .v-btn__overlay {
          opacity: 0;
        }
      }
    }

    .content {
      padding: 1rem;
      display: flex;
      justify-content: flex-start;
      > div {
        text-align: start;
        font-weight: 500;
      }
      p {
        color: $neutral30;
        font-weight: 500;
      }
    }
  }
}

.selectSource {
  &.dialogCard {
    width: 90%;
    max-width: rem(960);
    .btnCardGrp {
      .v-btn-group {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        height: unset;
        .v-btn {
          box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
          margin-right: 1rem;
          margin-bottom: 1rem;
          margin-top: 0.5rem;
          width: calc((100% - 2rem) / 3);
          min-height: rem(200);
          &:hover {
            > .v-btn__overlay {
              background: #0157a2;
            }
          }
          &:nth-child(3) {
            margin-right: 0;
          }
          &.v-btn--active:not(.v-btn--disabled) {
            border: $primary30 2px solid;
            > .v-btn__overlay {
              opacity: 0;
            }
          }
          @include screen('tablet') {
            width: calc((100% - 2rem) / 2);
            &:nth-child(3) {
              margin-right: 1rem;
            }
          }
          @include screen('mobile') {
            width: calc((100% - 2rem));
            margin: 0.5rem 1rem;
          }
        }
        .v-btn__content {
          white-space: wrap;
        }
        .content {
          > div {
            font-weight: 700;
            font-size: rem(18);
            margin-bottom: 0.5rem;
          }
          p {
            color: $neutral30;
            margin: 0 0.5rem;
          }
        }
      }
    }
  }
}

.albumCard {
  max-width: unset !important;
  height: 100%;

  .cardContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .v-img {
    margin: 0.75rem;
    margin-bottom: 0;
    border-radius: rem(4);
    height: rem(200);
    max-height: rem(200);
  }
  .v-card-item {
    display: flex;
    align-items: flex-start;
  }
  .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .v-card-item__content {
    .v-card-subtitle {
      font-weight: 700;
      font-size: 1em;
    }
    p {
      font-size: 1em;
    }
  }
  .v-card-text {
    align-items: self-end;
    display: flex;
  }

  .iconList {
    font-weight: 700;
    .v-col {
      display: flex;
      align-items: center;
    }
    i {
      font-size: 1rem;
      margin-right: 0.5rem;
    }
  }
}
.albumCardList {
  &.v-row {
    margin-top: 0 !important;
  }
  &.list {
    display: block;
    > div {
      max-width: unset;
      border-bottom: 1px solid #ccc;
      &:last-child {
        border: none;
      }
    }
    .cardContainer {
      flex-direction: row;
      background-color: unset;
    }
    @include screen('tablet') {
      .cardContainer {
        display: block;
      }
      .albumCard {
        .cardContainer {
          .v-img {
            margin: 0 0 1rem 0;
            width: 100%;
            max-width: inherit;
            aspect-ratio: 4 / 3;
            height: auto;
            max-height: unset;
          }
        }
      }
      .v-card-item {
        padding: 0 0 1rem 0;
      }
    }
    .v-img {
      max-width: rem(200);
      height: 150px;
      width: rem(200);
    }
    .v-card {
      display: block;
      box-shadow: unset;
      background: unset;
      padding: 0.5rem;
    }
    .albumCard {
      .v-img {
        margin: 0 0.5rem 0 0;
      }
      .v-card-item {
        padding-top: 0;
      }
      .iconList {
        justify-content: end;
        .v-col {
          flex-grow: unset;
        }
      }
    }
    .v-card-text {
      padding-bottom: 0;
    }
  }
}
.mediaCardList {
  .v-col {
    flex: 0 0 10%;
    max-width: 10%;
    .v-img {
      height: 80px;
    }
  }
}
.photoCard {
  width: 9.5%;
  margin: 0.25%;

  &.v-card {
    width: 100%;
  }
  position: relative;
  .checkbox {
    z-index: 1;
    top: -0.5rem;
    position: absolute;
  }
  .img {
    position: relative;
    margin: 0.25rem;

    label {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 1;
      z-index: 1;
    }
    .v-img {
      min-height: 80px;
    }
  }
  &.v-card {
    .v-card-title {
      line-height: 1rem;
      font-size: 0.8rem;
    }
  }
  .v-card-title {
    cursor: pointer;
    font-size: 1em;
  }
  .info {
    .v-card-item {
      padding: 0;
      margin: 0.5rem;
    }
  }
}
.selectTreeCard {
  min-width: rem(260);
  .v-row {
    display: contents;
  }
  .v-treeview {
    .v-list-item {
      &:hover {
        background-color: unset;
        .v-list-item__overlay {
          opacity: 0;
        }
      }
    }
    .v-list-item--density-default {
      &:not(.v-list-item--nav).v-list-item--one-line {
        padding-inline: 0.25rem;
      }
    }
    .v-treeview-group {
      .v-list-item__prepend {
        .v-list-item-action {
          .v-treeview-item__level {
            width: 0.5rem;
          }
        }
      }
    }

    .v-btn {
      color: $neutral10 !important;
    }
  }

  .btnGroup {
    margin-bottom: 0.5rem;
  }
}
.filePanelCard {
  .v-expansion-panel__shadow {
    box-shadow: none !important;
  }
  .title {
    display: flex;
    align-items: center;
    color: $neutral30;
    + .btnGrp {
      display: flex;
    }
  }
  .icon {
    margin-right: 0.5rem;
    color: $neutral20;
  }
  .v-btn {
    min-height: unset !important;
    height: unset !important;
    color: $neutral10 !important;
    &.more,
    &.delete {
      display: none;
    }
  }
  .v-expansion-panel-title {
    cursor: unset;
    &.v-expansion-panel-title--active {
      min-height: rem(48) !important;
      max-height: rem(48) !important;
      border-radius: 0.5rem;
    }
    min-height: rem(48);
    max-height: rem(48);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.5rem;
    &:hover {
      .v-btn {
        &.more,
        &.delete {
          display: flex;
        }
      }
    }
  }
  .v-expansion-panel-text__wrapper {
    padding: 1rem 0;
  }
  .v-expansion-panel-text {
    .item {
      min-height: rem(48);
      display: flex;
      align-items: center;
      margin-left: 3rem;
      justify-content: space-between;
      border-radius: 0.5rem;
      padding: 0.5rem;
      margin-bottom: 0.25rem;
      &:hover {
        background: $neutral80;
        .v-btn {
          &.delete,
          &.more {
            display: flex;
          }
        }
      }
    }
  }
}
.msgGrp {
  margin-top: 1rem;
  .msgCard {
    &.active {
      background: #0156a21a;
    }
    &:hover {
      background: #0156a20d;
    }
    width: 100%;
    padding: rem(12);
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 0.75rem;
    > .title {
      margin: 0;
      margin-left: 0.5rem;
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      .date {
        font-weight: 400;
        color: $neutral40;
        margin-right: 0.5rem;
      }
      + .text {
        margin: 0.5rem 0 0.5rem 0.5rem;
        color: $neutral30;
      }
    }
    .tagGrp {
      .v-chip {
        margin: 0.1rem 0.2rem;
        height: rem(28);
        .v-chip__underlay {
          background: #fff;
        }
        .v-chip__content {
          font-weight: 700;
        }
        &.helpful {
          border: 1px solid $primary30;
          color: $primary30;
        }
        &.noteHelpful {
          border: 1px solid $danger50;
          color: $danger50;
        }
        &.satisfy {
          background: $success50;
          color: #fff;
        }
        &.exceed {
          background: $danger50;
          color: #fff;
        }
      }
    }
  }
}
.contentment {
  &.dialogCard {
    min-width: 50%;
    min-height: 500px;
    max-width: rem(600);

    ul {
      min-height: rem(300);
      li {
        line-height: 1.5rem;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        .text-success,
        .text-danger {
          font-weight: 700;
        }
      }
    }
  }
}
.overlay {
  background: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  .linearContent {
    width: 60%;
    img {
      max-width: rem(400);
      width: 80%;
      margin: 0 auto;
      display: block;
    }
    .linear {
      margin: 0 auto;
      margin-top: 1.5rem;
      width: 100%;
      max-width: rem(600);
      .text {
        margin-top: 1.25rem;
        text-align: center;
      }
      .v-progress-linear__determinate {
        border-radius: 0.5rem;
      }
    }
  }
}
