@use '@/sass/common/mixins/text.scss' as *;
@use '@/sass/common/mixins/mediaquery.scss' as *;
@use '@/sass/variables.scss' as *;
.v-pagination {
  .v-pagination__item {
    button {
      background: $neutral60;
    }
    &.v-pagination__item--is-active {
      button {
        background: $secondary60;
        .v-btn__overlay {
          opacity: 0;
        }
        .v-btn__content {
          color: #fff;
        }
      }
    }
  }
}
