@use '@/sass/common/mixins/text.scss' as *;
@use '@/sass/common/mixins/mediaquery.scss' as *;
@use '@/sass/variables.scss' as *;
.listPage,
.resultPage {
  .navigationBar {
    h1 {
      margin-left: rem(30);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: rem(36);
        margin-right: 0.5rem;
      }
      font-size: rem(18);
      font-weight: 700;
      color: $primary30;
    }
    &.v-app-bar.v-toolbar {
      background: #fff;
    }
  }
  .container {
    > .title {
      margin-top: 2rem;
    }
    .emptyCard {
      background: #fff;
      height: calc(100vh - 260px);
    }
  }
}
.resultPage {
  .title {
    + .filterGrp {
      > div {
        display: flex;
        align-items: center;
        h2 {
          font-size: 1rem;
          font-weight: 700;
          white-space: nowrap;
        }
      }
      .v-select {
        min-width: rem(214);
        margin-left: 1rem;
        &.v-input {
          margin-right: 0;
        }
      }
      .v-input {
        width: rem(214);
        // margin-right: 0.5rem;
        + .grp {
          padding-left: 0.5rem;
        }
      }
    }
  }
  .v-card {
    padding: rem(28);
  }
  .v-card-title {
    padding: 0;
  }
  .cardTitle {
    &.result {
      .v-btn {
        height: rem(42);
      }
      .text {
        font-size: 1rem;
      }
    }
  }
}
